{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <table class="striped">
	        <thead>
		        <tr>
			        <td>No. Control</td>
			        <td>Nombres</td>
			        <td>Apellido Paterno</td>
                    <td>Apellido Materno</td>
			        <td>Fecha de Nacimiento</td>
                    <td>Carrera</td>
                </tr>
            </thead>
            <tbody>
		        {% if object_list %}
		        {% for alumnos in object_list %}
		        <tr>
			        <td>{{ alumnos.nocontrol }}</td>
			        <td>{{ alumnos.nombre }}</td>
			        <td>{{ alumnos.apellido_paterno }}</td>
			        <td>{{ alumnos.apellido_materno }}</td>
			        <td>{{ alumnos.fecha_nacimiento }}</td>
			        <td>{{ alumnos.carreras }}</td>
			        <td>
				        <a class="btn" href="{% url 'alumnos:alumno_mostrar' alumnos.nocontrol %}"><i class="material-icons">zoom_in</i></a>
                        <a class="btn blue" href="{% url 'alumnos:alumno_editar' alumnos.nocontrol %}"><i class="material-icons">create</i></a>
                        <a class="btn red" href="{% url 'alumnos:alumno_eliminar' alumnos.nocontrol %}"><i class="material-icons">delete</i></a>
			        </td>
		        </tr>
		        {% endfor %}

                {% else %}
		            <h1>No hay registros de alumnos</h1>
		        {% endif %}
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination center">
	            <li>
		        {% if page_obj.has_previous %}
       	            <a class="btn blue" href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">navigate_before</i></a>
		        {% endif %}
                </li>
	            <li>
		        {% if page_obj.has_next %}
     	            <a class="btn red" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">navigate_next</i></a>
    	        {% endif %}
                </li>
            </ul>
        </div>
    </div>

{% endblock%}